<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">RESYSTEM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/daftar_novel">Data Novel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rekomendasi">Kembali</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="hero-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Rekomendasi Novel</h2>
                    <p>{judul}</p>
                </div>
            </div>
            <div class="row text-center align-items-center">
                <div class="col-lg-12">
                    <p>test</p>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

    {% include "includes/script.html" %}
</body>

</html>