<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">RESYSTEM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data_novel">Data Novel</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="hero-section">
    <div class="container">
      {% if error %}
      <div class="row">
        <div class="col-lg-12">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      </div>
      {% endif %}
      <div class="row text-center">
        <div class="col-lg-12">
          <h2>Sistem Rekomendasi Novel</h2>
          <p>"Hidup adalah petualangan. Semua orang memiliki petualangannya masing-masing, maka jadilah seorang
            petualang yang melakukan hal yang terbaik."</p>
        </div>
      </div>
      <div class="row text-center align-items-center">
        <div class="col-md-6">
          <img src="{{ url_for('static', filename='img/novel.png') }}" alt="Image" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <form action="/hasil_rekomendasi" method="POST">
                <div class="mb-3">
                  <label for="input_text" class="form-label">Masukkan Deskripsi Novel</label>
                  <input type="text" name="input_text" id="input_text" class="form-control" placeholder=Deskripsi Novel"
                    required />
                </div>
                <button type="submit" class="btn btn-primary w-100">Cari Rekomendasi</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %} {% include "includes/script.html" %}
</body>

</html>